[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/base58-solidity"]
	path = lib/base58-solidity
	url = https://github.com/storyicon/base58-solidity
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/scripty.sol"]
	path = lib/scripty.sol
	url = https://github.com/intartnft/scripty.sol
